/* * {
    border: red 1px solid;
} */

body {
    margin: 0;
    background: greenyellow;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 1%;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-width: 50%;
    min-height: 50%;
    padding: 2%;
}

.div-container {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline;
}