body {
    margin: 0;
    min-height: 100vh;
    background-image: url("images/grass.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 1%;
    background-color: white;
    min-width: 40%;
    text-align: center;
    border-radius: 5%;
    padding: 0 5%;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 40%;
    min-height: 50%;
    padding: 5%;
    border-radius: 5%;
}

table {
    width: 70%;
    text-align: center;
}

.field {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 100dvw;
    overflow: hidden;
    z-index: 2;
}

.div-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form, ol {
    flex: 2;
}

#errorMSG {
    height: 1em; 
    color: red;
}

div div {
    width: 100;
    height: 75px;
    position: relative;
    animation: horsemove 7s 1;
}

#horse1 {animation-timing-function: linear;}
#horse2 {animation-timing-function: ease;}
#horse3 {animation-timing-function: ease-in;}
#horse4 {animation-timing-function: ease-out;}
#horse5 {animation-timing-function: linear;}
#horse6 {animation-timing-function: ease;}
#horse7 {animation-timing-function: ease-in;}
#horse8 {animation-timing-function: ease-out;}

@keyframes horsemove {
    from {left: 0px;}
    to {left: 110vw;}
}

@media only screen and (max-width: 600px) {
    main {
        width: 70%;
    }

    header {
        width: 70%;
    }
  }