<h3>Current account balance: </h3>
<p class="bank-balance"></p>
<h2 class="instructions"></h2>
<button id="nextBtn">Next</button>
<div class="main-wrapper">
    <ul>
    <% for (horse of horses) { %>
            <li><span id="bold">Horse:</span> <%= horse.name %> <span id="bold">Odds:</span> <%= horse.odds %></li>
    <% } %>
    </ul>
    <form method="post" id="tableForm" action="/race-day">
        <p>Make a selection</p>
        <select id="horseSelector" name="userSelection">
            <% for (horse of horses) { %>
            <option><%= horse.name %></option>
            <% } %>
        </select>
        <input type="number" name="bet" placeholder="Place your bet" min="1" max="100">
        <button id="startRaceBtn">Start race</button>
    </form>
</div>



<!-- <script>
    const clientSideHorses = <%- // JSON.stringify(horses)%>;
</script> -->
